section {
    .logo,
    .mobile-logo {
        @include flex-center();
        img {
            display: block;
            height: 25px;
        }
        .title {
            margin-left: 5px;
            .brand-name {
                margin-top: 7px;
                line-height: 0.6;
                font-size: 1rem;
                font-weight: 600;
            }
            .motto {
                font-size: 12px;
            }
        }
    }
    &#navbar {
        height: 75px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 100;

        @media (min-width: 767px) {
            padding-top: 15px;
        }
    }
    &.navbar-initial {
        transition: all 0.2s ease-in;
        background-color: transparent;
        box-shadow: none;
        .logo,
        .mobile-logo {
            color: $light-pink;
        }
        .menu-ul {
            .list-item {
                .list-anchor {
                    color: $white;
                }
            }
        }
    }
    &.navbar-after {
        transition: all 0.2s ease-in;
        background-color: rgba($color: $light-pink, $alpha: 0.9);
        box-shadow: 0px 1px 3px $grey;
        .logo,
        .mobile-logo {
            color: $black;
        }
        .menu-ul {
            .list-item {
                .list-anchor {
                    color: $black;
                }
            }
        }
    }

    &#what-we-do {
        padding-top: 40px;
        @include flex-center();
        flex-direction: column;
        overflow-x: hidden;

        // .section-title {
        //     font-size: 35px;
        //     text-align: center;
        // }
        .our-mission {
            padding: 30px 0;
            .head {
                background-color: rgba($color: $blue2, $alpha: 0.45);
                height: 70px;
                width: 80vw;
                max-width: 400px;
                margin: 30px auto 20px;
                @include flex-center();
                border-radius: 45px;
                position: relative;
                @include from-y-axis(20px);
                h2 {
                    color: $white;
                }
            }
            .body {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                @include from-x-axis(+150px);
                .card {
                    min-height: 270px;

                    background-color: $white;
                    width: 200px;
                    @include flex-center();
                    flex-direction: column;
                    text-align: center;
                    position: relative;
                    margin: 15px 15px 0;
                    padding: 25px 15px;
                    border-radius: 25px;
                    //min-height: 400px;
                    @include pseudo-b-shadow(
                        5px,
                        5px,
                        50px,
                        rgba(0, 0, 0, 0.2)
                    );
                    .svg {
                        height: 150px;
                        width: 170px;
                        margin-bottom: 20px;
                    }
                    .title {
                        margin: 10px 0;
                    }
                    .detail {
                        margin-bottom: 10px;
                    }
                }
                .knowledge {
                    background-image: url(../img/background.png);
                    //background-position: center bottom;
                    color: $white;
                    .svg {
                        position: relative;
                        left: 15px;
                    }
                }
                .support {
                    background-image: url(../img/background3.png);
                    background-position: 40% 0%;
                    transition-delay: 0.2s;
                }
                .equality {
                    background-image: url(../img/background3.png);
                    background-position: 0% 25.5%;
                    transition-delay: 0.4s;
                }
            }
        }

        .our-projects {
            width: 97%;
            margin: 0 auto;
            max-width: 700px;
            padding: 30px 0 70px;
            .title {
                background-color: rgba($color: $blue2, $alpha: 0.75);
                height: 70px;
                width: 80vw;
                max-width: 400px;
                margin: 30px auto 35px;
                @include flex-center();
                border-radius: 45px;
                position: relative;
                @include from-y-axis(20px);
                h2 {
                    color: $white;
                }
            }
        }
    }

    &.cyclothon {
        background-color: rgba($color: $light-pink, $alpha: 0.75);
        padding: 20px 0;
        @media(max-width:500px){
            padding: 20px 0 0;
        }
        .title {
            background-color: rgba($color: $blue2, $alpha: 0.75);
            height: 70px;
            width: 80vw;
            max-width: 400px;
            margin: 30px auto 0;
            @include flex-center();
            border-radius: 45px;
            position: relative;
            @include from-y-axis(20px);
            h2 {
                color: $white;
            }
        }
        div {
            &#cyclothon {
                margin: 15px auto;
                display: flex;
                justify-content: center;
                .fb-video {
                    height: 375px;
                    width: 500px;
                    margin-right: 20px;
                    background-color: lightgrey;
                    transition: all 0.5s ease;
                    blockquote{
                        padding:15px;
                        .head{
                            font-size:20px;
                            text-decoration:none;
                        }
                    }
                }
                .photo-carousel2 {
                    --carousel-width: 600px;
                    --carousel-min-height: 375px;
                }
            }
            @media (max-width: 1130px) {
                &#cyclothon {
                    .fb-video {
                        display: none;
                        margin-right: 0;
                    }
                    .photo-carousel2 {
                        --carousel-width: 100vw;
                        --carousel-min-height: 90vh;
                        .tracks-container {
                            .bg-img {
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
            @media (max-width: 500px) {
                &#cyclothon {
                    .fb-video {
                        display: none;
                    }
                    .photo-carousel2 {
                        --carousel-width: 100vw;
                        --carousel-min-height: 80vh;
                        .bg-img {
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
    &#thanks {
        margin:50px 10px 0;
        .thanks {
            margin: 0 auto;
            width: 80vw;
            min-width: 320px;
            padding: 25px 15px;
            border-radius: 25px;
            box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);

            h1 {
                text-align: center;
                font-size: 20px;
                @include scale-up(1.3, 1);
                .scale-up {
                    color: $blue;
                }
            }
            .donor-list {
                padding: 20px 0;
                .head {
                    background-color: $blue2;
                    height: 70px;
                    width: 70vw;
                    max-width: 400px;
                    margin: 30px auto 20px;
                    @include flex-center();
                    border-radius: 45px;

                    color: $white;
                }
                .body {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    .card {
                        min-height: 170px;

                        background-color: $white;
                        width: 150px;
                        @include flex-center();
                        flex-direction: column;
                        text-align: center;
                        position: relative;
                        margin: 15px 5px 0;
                        padding: 25px 15px;
                        border-radius: 25px;
                        //min-height: 400px;
                        @include pseudo-b-shadow(
                            5px,
                            5px,
                            50px,
                            rgba(0, 0, 0, 0.2)
                        );
                        .title {
                            margin: 10px 0;
                        }
                        .location {
                            color: $light-grey;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }

    &#testimonials {
        width: 97%;
        margin: 0 auto;
        max-width: 700px;
        padding: 30px 0;
    }

    &#footer {
        overflow-x: hidden;
        margin-top: 50px;
        padding-top: 50px;
        background-color:rgba(244, 244, 255, 0.65);
        display: flex;
        flex-direction: column;
        .footer-top,
        .footer-bottom {
            margin: 0 auto;
            width: 95vw;
        }
        .footer-top {
            display: grid;
            gap: 0rem;
            @media (min-width: 767px) {
                grid-template-columns: 260px auto;
            }
            grid-template-rows: auto;

            .footer-head,
            .footer-content {
                padding: 15px;
                padding-right: 0;
            }
            .footer-head {
                .logo {
                    justify-content: left;
                }
                .little-about-us {
                    p {
                        padding: 20px 0;
                        font-size: 12px;
                        width: 220px;
                    }
                }
                //social list is made global. see end
            }
            .footer-content {
                display: flex;
                justify-content: space-between;
                .blogs,
                .locations {
                    margin-right: 30px;

                    .blog-list > li,
                    .location-list > li {
                        list-style: inside;
                        margin-bottom: 10px;
                        transform: translateX(15px);
                    }
                }
                .locations {
                    margin-left: 0;
                }
                .blogs {
                    .blog-list li {
                        list-style: circle;
                        a {
                            text-decoration: none;
                            color: $black;
                            &:hover {
                                color: $pink;
                            }
                        }
                    }
                }
                .contact-us {
                    margin-right: 20px;

                    .contact-us-body {
                        transform: translateX(15px);
                    }
                    .address,
                    .phone,
                    .email {
                        margin-bottom: 10px;
                    }
                }
                .locations,
                .contact-us,
                .blogs {
                    margin-top: 10px;
                    margin-bottom: 20px;
                    h3 {
                        font-size:1.25rem;
                        font-weight:600;
                        margin-bottom: 20px;
                        color: $pink;
                    }
                }
            }
            @media (min-width: 1060px) {
                .footer-content {
                    justify-content: space-around;
                }
            }
            @media (max-width: 767px) {
                .footer-content {
                    flex-direction: column;
                    .locations,
                    .contact-us {
                        margin: 0 0 20px;
                    }
                    .locations,
                    .blogs {
                        .location-list,
                        .blog-list {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            li {
                                margin-right: 40px;
                            }
                        }
                    }
                }
            }
        }
        .footer-bottom {
            background-color: $white;
            display: flex;
            .copyright {
                font-size: 13px;
                margin: 5px auto;
                a {
                    color: $pink;
                    text-decoration: none;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
        .dev-section {
            margin-top: 10px;
            color: $pink;
            display: flex;
            flex-wrap: wrap;
            .maintainer,
            .developers {
                text-align: center;
                margin: 15px auto;
                h3 {
                    font-size: 1.25rem;
                    font-weight: 600;
                }
                a {
                    text-decoration: none;
                    color: $grey;
                }
                a:hover {
                    text-decoration: underline;
                    color: $pink;
                }
            }
        }
    }
}

.social-media-list {
    .social-menu-links {
        .menu-icon {
            display: inline-block;
            border-radius: 50%;
            box-sizing: content-box;
            border: 1px solid $grey;
            text-align: center;
            margin-right: 0.5rem;
            width: 1.875rem;
            height: 1.875rem;
            transition: all 0.1s ease;
            a {
                display: block;
                width: 1.875rem;
                height: 1.875rem;
                border-radius: 50%;
                color: $grey;
                font-family: FontAwesome;
                font-size: 0;
                text-decoration: none;
                background-color: rgba(0, 0, 0, 0);
            }
            a::before {
                font-size: 1rem;
                line-height: 1.8rem;
            }
            a:hover {
                color: $white;
            }
            &:hover {
                border: 1px solid $light-pink;
            }
        }
    }
    .menu-l {
        a::before {
            content: "\f0e1";
        }
        a:hover {
            background-color: $blue;
        }
    }
    .menu-t {
        a::before {
            content: "\f099";
        }
        a:hover {
            background-color: #458499;
        }
    }
    .menu-y {
        a::before {
            content: "\f16a";
        }
        a:hover {
            background-color: #9a4443;
        }
    }
    .menu-i {
        a::before {
            content: "\f16d";
        }
        a:hover {
            background-color: #eb6daa;
        }
    }
    .menu-f {
        a::before {
            content: "\f09a";
        }
        a:hover {
            background-color: #39537b;
        }
    }
}
