.puller-btn {
    box-shadow: 0 0 60px $grey;
    position: absolute;
    bottom: -30px;
    right: 50%;
    cursor: pointer;
    @include circular-button($orange, 0, 40px);

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    &::before {
        display: block;
        content: "\f078";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        color: $white;
        text-decoration: none;
        transform: translate(13px, 11px);
    }
    &:checked {
        transition: all 0.2s cubic-bezier(0.9, 0, 0.33, 1);
        transform: rotateZ(180deg) translate(-50%, 25px) !important;
    }
    &:not(checked) {
        transition: all 0.2s cubic-bezier(0.9, 0, 0.33, 1);
    }
}

section {
    &#latest-events {
        margin:80px auto 0;
        width: 60%;
        min-width:340px;
        .head {
            background-color: rgba($color: $white, $alpha: 0.8);
            height: 70px;
            width: 65%;
            min-width: 250px;
            margin: 30px auto 10px 0;
            @include from-y-axis(20px);
            padding:10px;
            font-weight: 500;
            color: $blue1;
            border-radius: 5px 25px 25px 5px;
            box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
        }
        .body {
            min-width: 340px;
            box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
            border-radius:5px;
            .sliding-events-carousel {
                width: 100%;
                height: 600px;
                //see _carousel.scss for other properties
                .carousel-wrapper {
                    overflow:hidden;
                    .slides-container {
                        background-color:transparent;
                        .slide {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            .top-wrap{
                                min-height: 430px;
                                width:100%; 
                                position:relative;
                                display: flex;
                                justify-content: center;
                                img {
                                    object-fit: cover;
                                    object-position: 50% 20%;
                                    height: 350px;
                                    width: 100%;
                                }
                                .about-event {
                                    position: absolute;
                                    background-color: rgba(#ffffff,0.8);
                                    width: 80%;
                                    margin: 0 auto;
                                    text-align: left;
                                    bottom: 0rem;
                                    padding: 1rem;
                                    .title, .date-organized {
                                        margin: 0;
                                        color: $raspberry-red;
                                        font-weight: 500;
                                    }
                                    .date-organized{
                                        text-align:right;
                                    }
                                    .location-tags {
                                        margin: 15px 0 10px;
                                        .tag {
                                            display: inline-block;
                                            padding: 0.3em 1em;
                                            border-radius: 25px;
                                            font-weight: 900;
                                            letter-spacing: 1px;
                                            margin-right: 10px;
                                            margin-bottom: 15px;
                                            box-shadow: 5px 5px 10px
                                                rgba(0, 0, 0, 0.2);
                                        }
                                    }
                                }
                            }
                            .bottom-wrap{
                                padding:15px;
                                .description{
                                    max-height: 140px;
                                    overflow-y: auto;
                                    color:rgba($color: $grey, $alpha: 0.7);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &#events-happened {
        margin-top: 100px;
        @include from-y-axis(50px);
        .some-year {
            background-color: rgba(255, 255, 255, 0.5);
            padding-bottom: 25px;
            margin: 70px auto 0;
            width: 90vw;
            box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.05);
            border-radius: 15px 75px 10px 10px;
            @media (min-width: 767px) {
                border-radius: 15px 50% 5px 5px;
            }
            .year-events-head {
                position: relative;
                border-bottom: 5px solid $light-grey;
                .event-year {
                    color: $black;
                    margin: 0;
                    padding-left: 43px;
                    font-size: 50px;
                }
                .puller-btn {
                    box-shadow: 0 5px 10px
                        rgba($color: $light-grey, $alpha: 0.5);
                    border-radius: 0 0 50% 50%;
                    height: 30px;
                    bottom: -30px;
                    background-color: $light-grey;
                    right: 5vw;
                    &::before {
                        transform: translate(13px, 5px);
                    }
                }
            }

            .year-events-body {
                counter-reset: event-number-counter;
                //background:linear-gradient(to bottom, $light-pink 0%, $white 100%);
                background-color: rgba($color: $blue2, $alpha: 0.8);
                max-height: 1800px;
                overflow-y: auto;
                transition: all 0.5s cubic-bezier(0.9, 0, 0.33, 1);
                box-shadow: inset 0 -20px 10px rgba($color: $grey, $alpha: 0.1);
                .year-event {
                    .about-event {
                        &::before {
                            content: counter(event-number-counter);
                            counter-increment: event-number-counter;
                            float: left;
                            background-color: $light-grey;
                            height: 29px;
                            width: 31px;
                            border-radius: 50%;
                            margin: 7px;
                            margin-right: 4px;
                            text-align: center;
                            padding-top: 2px;
                            color: $white;
                            font-size: 17px;
                            font-weight: 500;
                        }
                        .event-name {
                            font-weight: 500;
                            margin-left: 43px;
                            margin-bottom: 10px;
                            padding-left: 10px;
                            color: $blue1;
                            background-color: $white;
                            width: 50%;
                            min-width: 250px;
                            border-radius: 5px 25px 25px 5px;
                            box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
                        }
                        .event-description {
                            margin: 30px 25px 0 35px;
                            padding: 10px;
                            padding-bottom: 25px;
                            max-height: 400px;
                            overflow-y: auto;
                            color: $white;
                            background: linear-gradient(
                                to top,
                                rgba($color: $blue2, $alpha: 0.3) 0%,
                                transparent 75%,
                                transparent 25%,
                                rgba($color: $blue2, $alpha: 0.3) 100%
                            );
                        }
                        .learn-more {
                            margin: 15px 0 10px 35px;
                            a {
                                display: inline-block;
                                padding: 0.5em 1em;
                                border-radius: 25px;
                                font-weight: 900;
                                letter-spacing: 1px;
                                margin-right: 10px;
                                margin-top: 15px;
                                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                                background-color: rgba(
                                    $color: $orange,
                                    $alpha: 0.9
                                );
                                text-decoration: none;
                                color: $white;
                            }
                        }
                    }
                    .scrollable-viewer {
                        margin: 50px auto;
                        width: 85%;
                        background-color: rgba($color: $white, $alpha: 0.1);
                        border: 7px solid #f0f0f0;
                        border-radius: 15px;
                        border-bottom-width: 3px;
                        box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
                        .lenghty-box {
                            height: 230px;
                            display: flex;
                            align-items: center;
                            overflow-x: auto;
                            box-shadow: inset 20px 0 10px
                                    rgba($color: $white, $alpha: 0.1),
                                inset -20px 0 10px rgba($color: $white, $alpha:
                                            0.1);
                            border-radius: 7px;
                            @include from-x-axis(50px, 0.2s, 1.5s);
                            .content {
                                height: 200px;
                                min-width: 260px;
                                max-width: 320px;
                                margin: 0 5px;
                                background-color: rgba(
                                    $color: $light-grey,
                                    $alpha: 0.7
                                );
                                @include flex-center();
                                img {
                                    cursor: pointer;
                                    object-fit: cover;
                                    object-position: 50% 20%;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .content:nth-of-type(n + 3).from-x-axis {
                                transform: translateX(10px);
                                &.appear {
                                    transform: translateX(0px);
                                }
                            }
                            @media (max-width: 360px) {
                                .content:nth-of-type(n + 1).from-x-axis {
                                    transform: translateX(10px);
                                    &.appear {
                                        transform: translateX(0px);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .close {
                max-height: 0;
                transition: all 0.7s cubic-bezier(0.33, 1, 0.33, 1);
            }
        }
    }

    &.event-footer {
        box-shadow: 0 -10px 50px rgba($color: $grey, $alpha: 0.07);
    }
}
