section {
    &.blog-banner-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: 50% 50%;
            height: 100vh;
            width: 100%;
            overflow-x: hidden;
        }
        .tint {
            height: 100vh;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(
                    to right,
                    rgba(0, 0, 0, 0.7) 0%,
                    #ffffff00 50%,
                    rgba(0, 0, 0, 0.7) 100%
                ),
                linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0.7) 0%,
                    #ffffff00 50%,
                    rgba(0, 0, 0, 0.7) 100%
                );
        }
        h1 {
            position: absolute;
            font-size: 7rem;
            letter-spacing: 2vw;
            color: #ffffff;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            font-weight: 500;
            @media (max-width: 800px) {
                position: absolute;
                font-size: 5rem;
                top: 25%;
            }
        }
        #search-bar {
            position: absolute;
            bottom: 72px;
            left: 0;
            right: 0;
            margin: 20px 0;
            .filter-search-container {
                @include flex-center();
                .search-bar {
                    margin: 15px 0px;
                    position: relative;
                    #search-input {
                        outline: 0;
                        border-style: none;
                        height: 52px;
                        width: 70vw;
                        min-width: 330px;
                        max-width: 600px;
                        padding: 0px 90px 0px 30px;
                        border-radius: 45px;
                        background-color: $light-pink;
                        position: relative;
                        z-index: 99;
                        &:hover {
                            box-shadow: 0px 2px 2px $grey;
                        }
                        &::selection {
                            background-color: $light-grey;
                        }
                    }
                }
            }
        }
        .social-media-list {
            position: absolute;
            bottom: 20px;
            .social-menu-links {
                .menu-icon {
                    margin: 5px;
                    border: 1px solid $white;
                    margin-right: 0.5rem;
                    width: 2.5rem;
                    height: 2.5rem;
                    a {
                        width: 2.5rem;
                        height: 2.5rem;
                        padding-top: 5px;
                        color: $light-pink;
                    }
                    a::before {
                        font-size: 1.5rem;
                        line-height: 1.8rem;
                    }
                    &:hover {
                        border: 1px solid transparent;
                    }
                }
            }
        }
    }
    &#blogs {
        .blog-container {
            margin-top: 40px;
            background-color: rgba(255, 255, 255, 0.6);
            top: 25%;
            .blog-wrapper {
                width: 60%;
                margin: 0 auto;
                min-width: 340px;
                padding: 15px;
                .blogs {
                    position: relative;
                    .sliding-carousel {
                        //see its implementation in sliding-carousel.scss
                        .slides-container {
                            .slide {
                                img {
                                    object-fit: cover;
                                    object-position: 50% 30%;
                                    height: 450px;
                                }
                            }
                        }
                    }
                    img {
                        object-fit: cover;
                        object-position: 50% 30%;
                        height: 450px;
                        width: 100%;
                    }
                    .about-blog {
                        position: absolute;
                        background-color: #ffffff;
                        left: 0;
                        right: 0;
                        width: 80%;
                        margin: 0 auto;
                        text-align: left;
                        bottom: -7rem;
                        padding: 1rem;
                        .title {
                            margin: 0;
                            color: $raspberry-red;
                            font-weight: 500;
                        }
                        .name {
                            color: black;
                            margin-top: 1rem;
                            font-weight: 600;
                        }
                        .Date-of-publish {
                            margin-top: 0.5rem;
                            font-weight: 600;
                            color: $raspberry-red;
                        }
                    }
                }
                .blog-content {
                    position: relative;
                    .article {
                        text-align: justify;
                        font-size: 15px;
                        margin-top: 8rem;
                        max-height: 170px;
                        transition: all 0.5s cubic-bezier(0.9, 0, 0.33, 1);
                        overflow-y: hidden;
                        span {
                            font-size: 45px;
                            padding-right: 10px;
                            float: left;
                            line-height: 1.06;
                            font-weight: 600;
                        }
                    }
                    .continue-reading {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 80px;
                        transition: all 0.5s cubic-bezier(0.9, 0, 0.33, 1);
                        background: linear-gradient(
                            to top,
                            rgba(255, 255, 255, 0.9) 0%,
                            rgba(0, 0, 0, 0) 75%
                        );
                        .puller-btn{
                            @include circular-button(rgba($color:$orange, $alpha:0.8), 0, 40px);
                            box-shadow: 0 0 30px $orange;
                            bottom: 10px;
                            &:checked {
                                transition: all 0.5s cubic-bezier(0.9, 0, 0.33, 1);
                                transform: rotateZ(180deg) translate(-50%, 10px) !important;
                            }
                            &:not(checked) {
                                transition: all 0.5s cubic-bezier(0.9, 0, 0.33, 1);
                                transform: translate(50%, 10px) !important;
                            }
                        }
                    }
                }
                .close {
                    .article {
                        max-height: 2000px;
                    }
                    .continue-reading {
                        bottom: -58px;
                    }
                }
            }
        }
    }
}
