section{
    &.banner-container{
        //styles for img, .tint and the .banner-container are present in "_3-blog-page-sections.scss" (i should have created it in modules folder to use it globally :\ )
        .project-name.title{
            top: 35%;
        }
        .project-name.location{
            top: 75%;
        }
    }

    &#about-center{
        width:80%;
        min-width: 330px;
        margin: 80px auto 0;
        padding: 25px 15px;
        border-radius: 25px;
        box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
        .title {
            background-color: rgba($color: $blue2, $alpha: 0.75);
            height: 70px;
            width: 100%;
            max-width: 400px;
            margin: 30px auto 35px;
            @include flex-center();
            border-radius: 45px;
            position: relative;
            @include from-y-axis(20px);
            h2 {
                color: $white;
            }
        }
        .about {
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0px 4px 12px 3px rgba(0, 0, 0, 0.1);
            display: flex;
            @media ( max-width: 767px ){
                display:grid;
                justify-content: center;
                align-items: center;
            }
            .img{
                display:flex;
                align-items: center;
                margin: 15px;
                img{
                    width :100px;
                    margin: 0 auto;
                }
            }
            .para{
                display:grid;
                align-items: center;
                p{
                    text-align:left;
                    margin: 15px 10px;
                    @media ( max-width: 767px ){
                        text-align:center;
                    }

                    span{
                        text-transform: capitalize;
                        font-weight: 600;
                    }
                }
            }
        }
        .content{
            display: grid;
            .sub-heading{
                border: 1px solid rgba(0,0,0,0.7);
                border-radius: 25px;
                padding: 5px 15px;
                display: inline-block;
                margin: 40px auto 20px;
                font-weight: 600;               
            }
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                margin-bottom: 40px;
                li{
                    list-style: disclosure-closed;
                    text-align: left;
                    margin: 5px 20px;
                }
            }
        }
    }

    &#project-details{
        .head{
            width: 80vw;
            min-width: 320px;
            margin:0px auto;
            position: relative;
            z-index: 1;
            .title{
                background-color: rgba($color: $white, $alpha: 0.8);
                width: 65%;
                min-width: 320px;
                margin: 30px auto 10px 0;
                @include from-y-axis(20px);
                padding:5px 0 5px 20px;
                font-weight: 500;
                color: $blue1;
                border-radius: 5px 25px 25px 5px;
                box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
            }
        }
        //styles aready defined in _6-project-pages-layout.scss
        .frags-container{
            .center-pg-frag{
                margin-top: 30px;
                .title{
                    display:inline-block;
                    background-color: rgba($color: $white, $alpha: 0.9);
                    height: 50px;
                    width: 40%;
                    min-width: 250px;
                    padding: 8px;
                    @include from-y-axis(20px);
                    font-weight: 500;
                    color: $blue1;
                    border-radius: 5px 25px 25px 5px;
                    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
                    margin: 0 auto 10px 0px;
                    @media ( max-width: 767px ){
                        margin-left: 20px;
                    }
                    &.left{
                        margin-left: 20px;
                    }
                }
                padding:5px;
                &::after { //this code preserves height to fit in the floating image
                    content: " ";
                    display: block; 
                    height: 0; 
                    clear: both;
                }
                img{
                    height: 240px;
                    object-fit: cover;
                    object-position: 50% 30%;
                }
                .content{
                    color: $white;
                    font-weight: 600;
                }
            }
            .learn-more{
                display: none;
                a{
                    display: block;
                    width: 40%;
                    min-width: 250px;
                    text-align: center;
                    padding: 0.5em 1em;
                    border-radius: 25px;
                    font-weight: 900;
                    letter-spacing: 1px;
                    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
                    background-color: $green;
                    text-decoration: none;
                    color: $white;
                    margin: 0 auto;
                    margin-bottom: 40px;
                }
            }
        }
    }
}