@mixin flex-center(){
    display:flex;
    justify-content: center;
    align-items: center;
}

@mixin circular-button($bg-color, $margin, $dia){
    background-color: $bg-color;
    margin:0px $margin;
    width: $dia;
    height: $dia;
    border-radius: 100%;
    border: none;
    outline: none;//to remove the outline when you touch the key in mobile browsers
}

@mixin pseudo-b-shadow($horizontal-length:5px, $vertical-length:5px, $blur:50px, $color:rgba(0, 0, 0, 0.2)){
    position: relative;
    &::before {
        content: "";
        position: absolute;
        border-radius: inherit;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display:block;             
        z-index: -1;
        box-shadow: $horizontal-length $vertical-length $blur $color;
    }
}

@mixin from-y-axis($translateY:-150px, $opacity-timing:0.3s, $transform-timing:0.7s){
    .from-y-axis{
        opacity: 0;
        transform: translateY($translateY);
        transition: 
            opacity $opacity-timing ease,
            transform  $transform-timing ease,
    }
    .from-y-axis.appear{
        opacity: 1;
        transform: translateY(0px);
    }
}
@mixin from-x-axis($translateX: 150px, $opacity-timing:0.3s, $transform-timing:0.7s){
    .from-x-axis{
        opacity: 0;
        transform: translateX($translateX);
        transition: 
            opacity $opacity-timing ease,
            transform  $transform-timing ease,
    }
    .from-x-axis.appear{
        opacity: 1;
        transform: translateX(0px);
    }
}
@mixin scale-up($push-up-initial:1.1, $push-up-final:0){
    .scale-up{        
        display: inline-block;
        animation: none;
    }
    .scale-up.appear{
        animation: scale-up-down 0.7s ease-in-out forwards;
        animation-delay: 0.5s;
    }
    @keyframes scale-up-down{
        0%{}
        70%{transform: scale($push-up-initial);}
        100%{transform: scale($push-up-final);}
    }
}
@mixin wiggleY($translateX:0%, $translateY:5px, $delay:0.5s){
    .wiggle-y{        
        display: inline-block;
        animation: none;
    }
    .wiggle-y.appear{
        animation: wiggleY 0.7s ease-in-out forwards;
        animation-delay: $delay;
    }
    @keyframes wiggleY{
        0%{transform: translate($translateX, 0);}
        //10%{transform: translate($translateX, -$translateY);}
        10%{transform: translate($translateX, 2 * $translateY);}
        20%{transform: translate($translateX, -$translateY)}
        100%{transform: translate($translateX, -$translateY);}
    }
}
@mixin wiggleX($translateX:10px, $translateY:0%, $delay:0.5s){
    .wiggle-x{        
        display: inline-block;
        animation: none;
    }
    .wiggle-x.appear{
        animation: wiggleX 0.7s ease-in-out forwards;
        animation-delay: $delay;
    }
    @keyframes wiggleX{
        0%{transform: translate(0, $translateY);}
        //10%{transform: translate($translateX, $translateY);}
        10%{transform: translate(-2 * $translateX, $translateY);}
        20%{transform: translate($translateX, $translateY) }
        100%{transform: translate($translateX, $translateY);}
    }
}

@mixin statement-quotes($top, $left){
    .statement::before{
        position: absolute;
        top: $top;
        left: $left;
        font-family: Georgia, 'Times New Roman', Times, serif;
        content: ",,";
        font-size: 19vw;
        display: block;
        transform: rotateZ(180deg);
    }
}