@mixin flex-center(){
    display:flex;
    justify-content: center;
    align-items: center;
}

@mixin circular-button($bg-color, $margin, $dia){
    background-color: $bg-color;
    margin:0px $margin;
    width: $dia;
    height: $dia;
    border-radius: 100%;
    outline: none;//to remove the outline when you touch the key in mobile browsers
}