@mixin flex-center(){
    display:flex;
    justify-content: center;
    align-items: center;
}

@mixin circular-button($bg-color, $margin, $dia){
    background-color: $bg-color;
    margin:0px $margin;
    width: $dia;
    height: $dia;
    border-radius: 100%;
    outline: none;//to remove the outline when you touch the key in mobile browsers
}

@mixin pseudo-b-shadow($horizontal-length, $vertical-length, $blur, $color){
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display:block;             
        z-index: -1;
        box-shadow: $horizontal-length $vertical-length $blur $color;
    }
}

@mixin from-y-axis($translateY:-150px){
    .from-y-axis{
        opacity: 0;
        transform: translateY($translateY);
        transition: 
            opacity 0.3s ease,
            transform  0.7s ease,
    }
    .from-y-axis.appear{
        opacity: 1;
        transform: translateY(0px);
    }
}
@mixin from-x-axis($translateX: 150px){
    .from-x-axis{
        opacity: 0;
        transform: translateX($translateX);
        transition: 
            opacity 0.3s ease,
            transform  0.7s ease,
    }
    .from-x-axis.appear{
        opacity: 1;
        transform: translateX(0px);
    }
}
@mixin scale-up($push-up-initial:1.1, $push-up-final:0){
    .scale-up{        
        display: inline-block;
        animation: none;
    }
    .scale-up.appear{
        animation: scale-up-down 0.7s ease-in-out forwards;
        animation-delay: 0.5s;
    }
    @keyframes scale-up-down{
        0%{}
        70%{transform: scale($push-up-initial);}
        100%{transform: scale($push-up-final);}
    }
}

@mixin statement-quotes($top, $left){
    .statement::before{
        position: absolute;
        top: $top;
        left: $left;
        font-family: Georgia, 'Times New Roman', Times, serif;
        content: ",,";
        font-size: 19vw;
        display: block;
        transform: rotateZ(180deg);
    }
}