// Colors

$white:rgb(255, 255, 255);
$black:#000000;

$orange: #f9b31c;
$light-grey: #aaaaaa;
$grey: #3f3f3e;
$blue: #0090c4;
$blue1:#0069D9;
$blue2: #3C39CC;
$blue3: #3936BE;
$red: #e02f1b ;

$pink: #D384A3;
$light-pink: rgb(244, 244, 255);
// $light-red: #f05555;