// Colors

$white:rgb(255, 255, 255);
$black:#000000;

$green:#bac964;

$orange: #f9b31c;
$light-grey: #aaaaaa;
$dimgrey:#696969;
$grey: #3f3f3e;

$blue: #0090c4;
$blue1:#0069D9;
$blue2: #3C39CC;
$blue3: #3936BE;
$purple:#203F4A;

$raspberry-red:#FF006C;
$red: #e02f1b ;
$light-red: #f05555;

$pink: #D384A3;
$pink1: #f1e7b6;
$light-pink: rgb(244, 244, 255);


