//Put all your preferred defaults for html-tags here 
body{
    background-color:$white;
    font-size: 14px;
    line-height: 1.6;
    font-family: 'Muli', sans-serif;
    color: $black;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

li{
    list-style: none;
    text-align: left;
}
