*{
	box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: fixed;
    background-color: #f1f1f1;
    /*background-image: url(http://getwallpapers.com/wallpaper/full/9/f/2/99456.jpg);*/
    background-repeat: no-repeat;
}
.logo{
    color: white;
}
  
.list-anchor{
    color: white;
}
/*<.....blog banner container box.....>*/
.blog-banner-container img{
	position: relative;
	height: 40VW;
     width: 100% ;
     
 }
.blog-banner-container h1{
	position: absolute;
	font-size: 7rem;
	letter-spacing: 2VW;
	color: #ffffff;
      top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
@media screen and (max-width: 800px){
    .blog-banner-container  h1{
        position: absolute;
        font-size: 3rem;
        letter-spacing: 2VW;
          top: 6%;
        left: 50%;
    }   
}
/*<.....end of blog banner container box.....>*/

/*<......style for social media icon.........>*/
.fab {
    font-size: 2.5rem;
    text-decoration: none;
    margin: 0.2rem 1.5rem;
    color: white;
  }
  
  .fab:hover {
      color: pink;
      opacity: 0.7;
      transform: rotate(360deg);
      transition: transform 1.5s;
      transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
.social-media-icon {
    position: absolute;
	left: 34%;
	top: 57%;
}

 @media screen and (max-width: 1000px){
    .social-media-icon {
        display: none;      

    }
    .fab{
        background-color: white;
        font-size: 1rem;
        margin: 0.2rem 0.2rem;
    }
}
/*<......end of style for social media icon........>*/
.blog-container{
    /*margin-left:100px;
    margin-right:100px;*/
    margin-top: 20px;
    background-color: rgba(255, 255, 255,0.6);
   
   height:auto;
 }
 .blog-wrapper{
    margin-left:15vw;
    margin-right:15vw;
 }

 .blogs{
   position:relative;
 }
 .blog-container .blog-wrapper img{
     object-fit: cover;
     object-position: 50% 0% ;
 }
 .author{
   position:absolute;
   background-color: rgba(255, 255, 255,0.6);
   left:0;
   right:0;
   text-align:center;
   bottom:0;
 }
.blog-container article{
    font-size: 15px;
    padding: 8px;
    overflow-y: scroll;
}

