/* Navbar styles */
.logo, .mobile-logo {
    color: white;
}
.list-anchor {
    color: white;
}

/*Banner styles */
.blog-banner-container{
   /* position: relative;*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-banner-container img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: 50% 50%;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
.blog-banner-container h1 {
    position: absolute;
    font-size: 7rem;
    letter-spacing: 2vw;
    color: #ffffff;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
@media screen and (max-width: 800px) {
    .blog-banner-container h1 {
        position: absolute;
        font-size: 5rem;
        top: 25%;
    }
}

/* Blogs Section */
.blog-container {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    height: auto;
}
.blog-wrapper {
    width: 80%;
    margin: 0 auto;
}
.blogs {
    position: relative;
}
.blog-container .blog-wrapper img {
    object-fit: cover;
    object-position: 50% 30%;
    height: 350px;
}
.author {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    right: 0;
    width: 90%;
   /* max-width: 500px;
    min-width: 300px;*/
    margin:0 auto;
    text-align: left;
    padding-left: 2em;
    bottom: -7em;
}
.blog-container .blog-wrapper .blog-content  article {
    font-size: 15px;
    padding: 6px;
    margin-top: 8em;

}
.blog-container .blogs .author .s1{
    color: #fa0404; 
    margin-top: 1em; 
    font-weight: 600;
}
.blog-container .blogs .author .s2{
    color: black;
     margin-top: 1em;
     font-weight: 650;
}
.blog-container .blogs .author .name{
    margin-left: 0.3em;
}
.blog-container .blogs .author .Date-of-publish{
     margin-top: 0.5em;
}
/* end Blogs Section */