.modal {
    top: 0;
    z-index: 9999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
}
.content {
    width: 40%;
    height: 90%;
    position: relative;
    /* background-color: #fbfdfe; */
    box-shadow: 1px 1px 14px 3px rgba(0, 0, 0, 0.75);
}
.close {
    position: absolute;
    color: rgb(0, 0, 0);
    right: 10px;
    font-size: 3em;
    font-weight: 700;
}

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-image {
    height: 100%;
    width: auto;
}
@media (max-width: 767px) {
    .content {
        width: fit-content;
        max-width: 90%;
        height: fit-content;
    }

    .modal-image {
        width: 100%;
        height: auto;
    }
}
