/*@anonymous-coder-its-me */


/* 
    >>main colors
    orange: #f9b31c
    light-grey: #aaaaaa
    grey: #3f3f3e
    blue: #0090c4
    red: #e02f1b 
    pink: #D384A3;
    light-pink: #FAFAFB;
*/

#about-header {
    width: 100%;
    height: 350px;
    background: url('../img/about-header.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 10;
}

#about-header .header-content {
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about-header .header-content .subtitle {
    display: flex;
}

#how-we-started {
    margin-top: 100px;
}

.card {
    -webkit-box-shadow: 0px 11px 24px -12px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 0px 11px 24px -12px rgba(0, 0, 0, 0.73);
    box-shadow: 0px 11px 24px -12px rgba(0, 0, 0, 0.6);
}

#board {
    margin: 1em 1.3em;
}

.co-ordinators-container {
    background-color: #f1f1f1;
}

.bright {
    background-color: aqua;
}

#how-we-started img {
    width: 120px;
    height: 120px;
}

#how-we-started .hws-bg {
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 4px 12px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 4px 12px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 12px 3px rgba(0, 0, 0, 0.1)
}


/* overriding the padding property to make image full covered in background */

@media (max-width: 767px) {
    .navbar {
        padding: 0 !important;
    }
    #central-co-ordinators h5 {
        font-size: 14px;
    }
    #central-co-ordinators p {
        font-size: 14px;
    }
    #how-we-started img {
        width: 100px;
        height: 100px;
    }
}


/* bootstrap.css override + responsiveness improvements */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0rem;
}

section#navbar {
    padding-top: 0px;
}

section .logo .title .brand-name,
section .mobile-logo .title .brand-name {
    margin-top: 22px;
}

.c-us-child {
    margin-top: 25px;
}

.board-trustee {
    display: flex;
    justify-content: center;
}

@media (max-width: 982px) {
    .hws-quote {
        text-align: center;
    }
}