//Page Loader
.preloader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
    height: 100%;
    opacity: 1;
	z-index: 9999;
    background: url("../img/preLoader-icons-set/64x64/Preloader_1.gif") center no-repeat #fff;
    transition:all 2s ease-in;
}
.preloader-close{
    display: none;
    opacity: 0;
    z-index:-9999;
    visibility: hidden;
}

//FB video Loader
.fb-video {
    background-color: rgba(
        $color: $white,
        $alpha: 0.95
    );
    transition: all 0.5s ease;
    blockquote {
        padding: 15px;
        font-size: 12px;
        h3 {
            margin: 0;
            padding: 0;
            display: inline;
        }
    }
}
.fb-video[fb-xfbml-state="parsed"], .fb-video[fb-xfbml-state="none"]{
    position: relative;
    &::before{
        content:url("../img/loader-icons-set/loader-64x/Preloader_2.gif");
        @include flex-center() ;
        width:100px;
        height:100px;
        border-radius:100%;
        background-color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.fb-video[fb-xfbml-state="rendered"] {
    background-image: none;
}